.back{
    background-color:lightgray;
    padding: 0px;
    margin: 0px;
    font-family: AvenirNext, Helvetica, sans-serif;
    font-size: 14px;
    justify-content: center;
    position: relative;
}
.topmsg{
    text-align: right;
    margin: 0px;
    padding:0px;
    font-size: 12px;
   border-spacing: unset;
}
.topmsg p{

}
form{
    text-align:center;
    background-color:white;
    color: #404040;
    box-sizing: border-box;
    padding:30px;
    margin: 5% auto;
    width: 380px;
    border: 1px solid black;
    border-radius: 2px;
}
form h3{
    font-size: 24px;
}
form  span{
    font-style: italic;
}
.felement{
    text-align: left;
    padding-bottom:10px 0px 2px 0px;
}
input{
    margin: 10px  0px 40px 0px;
    padding: 0px 5px;
    border-radius: 2px;
    border: 1px solid black;
    border-radius: 2px;
    width: 310px;
    height: 25px;
    box-shadow: chocolate;
}
.btn{
    margin: 5px 0px;
    background-color: blueviolet;
    color: white;
    height: 30px;
    width: 320px;
    border-radius: 3px;
    
}
footer{
    text-align: center;
}
footer span{
    margin-right: 8px;
    
}
footer a{
    color: black;
}
footer p{
    margin:0px 20px;

}